@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    background: linear-gradient(white, wheat 100%);
    background-repeat: no-repeat;

}

.wrap {
    margin: 2em;
    height: calc(100vh - 3.6em);
}


// Header Style
header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -0.5em;
    z-index: 999;
    img {
        height: 2em;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 0.5em;
        text-decoration: none;
        p {
            color: black;
            font-weight: 600;
            font-size: 16px;
        }
    }
    nav {
        display: flex;
        align-items: center;
        .mobile-menu {
            &:hover {
                cursor: pointer;
            }
        }
        ul {
            transform: translateX(220px);
            margin-top: 0;
            display: flex;
            position: fixed;
            top: 0;
            right: 0;
            flex-direction: column;
            list-style: none;
            gap: 2em;
            background-color: rgb(43, 43, 43);
            color: white;
            height: 100vh;
            padding: 3em;
            text-align: right;
            font-weight: 600;
            transition: all 1s;
            .close-menu {
                font-size: 20px;
                border: 1px solid white;
                width: 2em;
                height: 2em;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                position: relative;
                left: 4.2em;
                margin-bottom: 1em;
                margin-top: -0.5em;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .show-hide {
            transform: translateX(0);
        }
    }
    .header-cta {
        display: none;
    }
}



// Slide Style
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4em;
    font-size: 22px;
    text-align: center;
    h1 {
        line-height: 1.5em;
        span {
            display: inline-block;
            width: 3em;
            height: 2em;
            background-color: aqua;
            position: relative;
            top: 0.76em;
            border-radius: 0.9em;
            z-index: -1;
        }
    }
    .main-cta {
        display: flex;
        gap: 0.5em;
        button {
            background-color: aqua;
            border: 0;
            width: 7em;
            height: 4em;
            border-radius: 3em;
            &:hover {
                cursor: pointer;
            }
        }
        .transparent-button {
            display: flex;
            width: 13em;
            justify-content: center;
            align-items: center;
            gap: 1em;
            background-color: transparent;
            img{
                height: 2em;
                padding: 1em;
                border: 2px solid black;
                border-radius: 50%;
            }
        }
    }
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid black;
    padding-top: 2em;
    justify-content: space-between;
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        list-style: none;
        padding-left: 0;
        img {
            height: 3em;
            margin: 1em;
        }
        li {
            &:nth-child(3) img{
                height: 2em;
            }
        }
    }
    button {
        display: none;
    }
}



// Slide-Specific Code
.slide1, .slide2, .slide3, .slide4{
    transition: all 2s;
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 5em;
    overflow-y: clip;
}


.slide2, .slide3, .slide4 {
    main {
        z-index: 1;
        font-size: smaller;
        p {
            background-color: aqua;
            padding: 0.3em 0.7em;
            border-radius: 0.5em;
            margin-top: 3em;
        }
        margin-bottom: 0;
    }
    .card-area {
        margin: 2em 0;
        padding-top: 1em;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 1em;
        .card {
            display: flex;
            flex-direction: column;
            height: 12em;
            width: 12em;
            border-radius: 3em;
            border: 1px solid rgb(152, 152, 152);
            transition: all 0.2s;
            font-size: 85%;
            &:hover {
                background: linear-gradient(wheat, white);
                cursor: pointer;
                font-size: 100%;
            }
            text-align: left;
            padding: 1.5em;
            p {
                background-color: transparent;
                margin: 0;
                padding: 0;
                font-size: smaller;
            }
        }
    }
}




.slide3 {
    overflow-x: hidden;
    div {
        p {
            background-color: rgb(205, 205, 205);
        }
    }
    .statistics {
        p {
            color: rgb(0, 161, 0);
            background-color: transparent;
            margin: 0;
            font-size: 6em;
            font-weight: 600;
        }
        margin-bottom: 12em;
    }
    .circle {
        z-index: -1;
        width: 200vw;
        height: 200vw;
        background-color: wheat;
        border-radius: 50%;
        position: absolute;
        top: calc(80vh);
        .white {
            top: 80vh;
            background-color: white;
            position: relative;
        }
    }
    .wheat {
        animation: none;
    }

    @keyframes circle-change {
        from {
            top: calc(80vh);
        }
        to {
            top: calc(-5vh);
        }
    }
}

.slide4 {
    background: linear-gradient(wheat, rgb(255, 236, 202));
    display: flex;
    align-items: center;
    overflow: hidden;
    .contain {
        z-index: 0;
        height: 90%;
        width: 150%;
        position: absolute;
        background: linear-gradient(rgb(255, 240, 214), transparent 99%);
        -webkit-mask-image: url('../assets/cloud.svg'); /* For WebKit browsers */
        mask-image: url('../assets/cloud.svg');
        animation: move-cloud 4s alternate infinite ease-in-out;

        @keyframes move-cloud {
            from {
                transform: translateX(0) translateY(0);
            }
            to {
                transform: translateX(-5em) translateY(-8em);
            }
            
        }
    }

    .form {
        z-index: 1;
        background-color: white;
        color: black;
        padding: 2em;
        border-radius: 2em;
        font-size: smaller;
    
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5em;
            h4 {
                margin: 0;
            }
            .subscription {
                display: flex;
                align-items: center;
                gap: 1em;
                .toggle {
                    font-size: smaller;
                    width: 3em;
                    height: 1.5em;
                    background-color: rgb(147, 255, 147);
                    border-radius: 1em;
                    padding: 0.2em;
                    cursor: pointer;
                    .dot {
                        width: 1.5em;
                        height: 1.5em;
                        background-color: green;
                        border-radius: 50%;
                        transition: all 0.5s;
                    }
                }
                h5 {
                    transition: all 0.1s;
                    &:nth-of-type(2) {
                        color: grey;
                    }
                }
            }

            .amount-currency {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 100%;
                margin-bottom: 2em;
                #currency {
                    position: absolute;
                    left: 15.6em;
                    background-color: aqua;
                    border: 0;
                    padding: 0.4em;
                    border-radius: 1em;
                    cursor: pointer;
                }
            }
            input {
                border: 1px solid grey;
                width: 100%;
                border-radius: 1em;
                padding: 0.6em 1em;
                margin: 0;
            }
            .button-area {
                margin-top: -1.5em;
                display: grid;
                width: 100%;
                grid-template-columns: auto auto auto auto;
                gap: 1em;
                button {
                    border-radius: 1em;
                    border: 1px solid grey;
                    background-color: transparent;
                    padding: 0.6em 0;
                    cursor: pointer;
                }
            }

            .donator-name {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1em;
                width: calc(100% - 2em);
                flex-direction: column;
            }
            .submit {
                margin-top: 1em;
                grid-template-columns: auto auto;
                button {
                    font-weight: 600;
                    border: 0;
                    padding: 0.8em 0;
                    &:nth-of-type(1) {
                        background-color: green;
                        color: white;
                    }
                    &:nth-of-type(2) {
                        background-color: rgb(145, 255, 145);
                        color: green;
                    }
                }
            }

            .checkbox {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                margin-top: 1.5em;
                gap: 0.5em;
                margin-left: -8em;
                input {
                    width: fit-content;
                }
            }
        }

    }

}



// JavaScript Effect Classes
.move-dot {
    transform: translateX(1.4em);
}
.toggle-color {
    color: grey;
}