@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  background: linear-gradient(white, wheat 100%);
  background-repeat: no-repeat;
  height: 100vh;
}

.wrap {
  margin: 2em;
}

header {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -0.5em;
}
header img {
  height: 2em;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 0.5em;
  text-decoration: none;
}
header .logo p {
  color: black;
  font-weight: 600;
  font-size: 16px;
}
header nav {
  display: flex;
  align-items: center;
}
header nav .mobile-menu:hover {
  cursor: pointer;
}
header nav ul {
  transform: translateX(220px);
  margin-top: 0;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  flex-direction: column;
  list-style: none;
  gap: 2em;
  background-color: rgb(43, 43, 43);
  color: white;
  height: 100vh;
  padding: 3em;
  text-align: right;
  font-weight: 600;
  transition: all 1s;
}
header nav ul .close-menu {
  font-size: 20px;
  border: 1px solid white;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  left: 4.2em;
  margin-bottom: 1em;
  margin-top: -0.5em;
}
header nav ul .close-menu:hover {
  cursor: pointer;
}
header nav .show-hide {
  transform: translateX(0);
}
header .header-cta {
  display: none;
}

.slide1 {
  transition: all 2s;
}
.slide1 main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4em;
  font-size: 22px;
  text-align: center;
}
.slide1 main h1 {
  line-height: 1.5em;
}
.slide1 main h1 span {
  display: inline-block;
  width: 3em;
  height: 2em;
  background-color: aqua;
  position: relative;
  top: 0.76em;
  border-radius: 0.9em;
  z-index: -1;
}
.slide1 main .main-cta {
  display: flex;
  gap: 0.5em;
}
.slide1 main .main-cta button {
  background-color: aqua;
  border: 0;
  width: 7em;
  height: 4em;
  border-radius: 3em;
}
.slide1 main .main-cta button:hover {
  cursor: pointer;
}
.slide1 main .main-cta button:nth-child(2) {
  display: flex;
  width: 13em;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: transparent;
}
.slide1 main .main-cta button:nth-child(2) img {
  height: 2em;
  padding: 1em;
  border: 2px solid black;
  border-radius: 50%;
}
.slide1 footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid black;
  padding-top: 2em;
  justify-content: space-between;
}
.slide1 footer ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
}
.slide1 footer ul img {
  height: 3em;
  margin: 1em;
}
.slide1 footer ul li:nth-child(3) img {
  height: 2em;
}
.slide1 footer button {
  display: none;
}

.hide-slide {
  display: fixed;
  transform: translateY(-150%);
}/*# sourceMappingURL=style.css.map */